{% extends "base.html" %}
{% block title %}Perfil del Usuario{% endblock %}

{% block content %}
<section>

  <!-- Título -->
  <h1 class="text-center mb-4"><strong>{{ usuario.nombre }} {{ usuario.apellido }}</strong></h1>

  <!-- Foto de perfil en círculo -->
  <div class="text-center mb-4">
    {% if usuario.foto %}
      <img src="{{ url_for( 'static', filename='profiles/' + usuario.foto ) }}" alt="Foto de perfil" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover; border: 3px solid #fff;">
    </div>
    {% else %}
      <p><strong>Foto de perfil:</strong> No disponible</p>
    {% endif %}
  </div>

  <!-- Datos del usuario -->
  <div>
    <p><strong>Correo electrónico:</strong> {{ usuario.email }}</p>
    <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
    <p><strong>País:</strong> {{ usuario.pais }}</p>
    <p><strong>Ciudad:</strong> {{ usuario.ciudad }}</p>
    <p><strong>Código postal:</strong> {{ usuario.codigo_postal }}</p>
  </div>


  <!-- Botón para editar perfil a la derecha-->
<div class="text-end mt-4">
  <a href="{{ url_for('editar_perfil') }}" class="btn btn-primary">Editar Perfil</a>
</div>


</section>
{% endblock %}